Laba.API/obj/
Laba.API/bin/
Laba.API/bin
Laba.API/obj

Laba.WebClient/obj/
Laba.WebClient/bin/
Laba.WebClient/bin
Laba.WebClient/obj

Laba.API.Tests/obj/
Laba.API.Tests/bin/
Laba.API.Tests/bin
Laba.API.Tests/obj

Laba.Shared/obj/
Laba.Shared/bin/
Laba.Shared/bin
Laba.Shared/obj

.idea
.idea/